/* swiper styles */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img:not(.underline-img) {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-overlay {
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: auto;
}

.underline-img {
  max-width: 272px;
  height: 6px;
  /* display: block; */
  margin-top: 8px;
  margin-bottom: 8px;
}

/* hero divider */
.divider {
  background-image: url(./assets/images/divider-1.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -9px;
  width: 100%;
  height: 15px;
  z-index: 10;
}

.divider1 {
  background-image: url(./assets/images/divider-1.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 15px; /* Adjust height as needed */
  z-index: 10;
}

/* Tagline Section */
.tagline-img {
  background-image: url(./assets/images/countryside-people-working-field.jpg);
  background-size: cover;
  background-position: center;
  height: 500px; /* Set a fixed height or use min-height */
  position: relative; /* Needed for the overlay */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  color: white; /* Ensure text is visible */
}

/* Dark overlay */
.tagline-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity (0.5 = 50% dark) */
  z-index: 1; /* Place overlay above the background image */
}

/* Ensure text is above the overlay */
.tagline-img h2 {
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: center;
}

@media (min-width: 808px) and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-details {
    min-width: 100%;
  }
  .contact-form {
    width: 100%;
  }
}

/* ANIMATIONS */
.swiper-button-prev-custom,
.swiper-button-next-custom {
  z-index: 50 !important;
}
