/* swiper styles */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img:not(.underline-img) {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-overlay {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: auto;
}

.underline-img {
  max-width: 272px;
  height: 6px;
  /* display: block; */
  margin-top: 8px;
  margin-bottom: 8px;
}

/* hero divider */
.divider {
  background-image: url(./assets/images/divider-1.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -25px;
  width: 100%;
  height: 15px; /* Adjust height as needed */
  z-index: 10;
}
.divider1 {
  background-image: url(./assets/images/divider-1.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 15px; /* Adjust height as needed */
  z-index: 10;
}
